html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes flash {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}
  th,
  td {
    padding: 0.5em 1em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    border-bottom: 1px solid #333;
  }
  td:first-child {
    border-left: 1px solid #333;
  }
  td:last-child {
    border-right: 1px solid #333;
  }
  th {
    font-weight: bold;
    border-top: 3px solid #333;
    padding: 1em;
  }

.monospace {
  font-family: monospace;
}

.indicator {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  z-index: 1;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.33s;
  opacity: 0;
}
  .indicator:after {
    display: block;
    content: '';
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border-width: 2px;
    border-style: solid;
    border-bottom-color: black;
    border-right-color: white;
    border-top-color: transparent;
    border-left-color: transparent;
    animation: spin 0.5s infinite linear;
  }
  .indicator[data-state='loading'] {
    opacity: 1;
  }

.header {
  margin: 1em 0;
  text-align: center;
  padding: 1em;
}

.nav {
  font-weight: bold;
  text-transform: uppercase;
  animation: flash 1s;
  animation-iteration-count: 1;
}
  .nav a {
    border-bottom: 2px solid;
  }

.next {
  font-size: 200%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
}
  .next:hover {
    color: #333;
  }

.visualization {
  position: fixed;
  width: 50px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -50px;
  z-index: 1;
  pointer-events: none;
}
  .visualization__cross {
    position: absolute;
  }

.headings {
  width: 80%;
  margin-bottom: 100vh;
}
  .heading {}
    .heading__cell {}
      .heading__cell--cross {
        width: 1em;
      }
      .heading__cell--value {}
      .heading__cell--datetime {}
      .heading__cell--fingerprint {}
      .heading__cell--ip {}
      .heading__cell--referer {}

      .heading__cross {
        display: inline-block;
      }

@media (max-width: 800px) {
  .headings {
    width: 90%;
  }

  .priority--tertiary {
    display: none;
    visibility: collapse;
    width: 0;
  }
}

@media (max-width: 600px) {
  .headings {
    width: 100%;
  }

  .priority--secondary {
    display: none;
    visibility: collapse;
    width: 0;
  }
}
